@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

:root {
  --darkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(31, 55, 86, 1) 0%,
    rgba(20, 21, 57, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
/* 
.contain {
  border: 3px solid var(--HeaderOutline);
  width: 300px;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
} */

/* .score { */
/* color: black;
  width: 80px;
  height: 70px;
  background-color: white;
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
} */

.score__title {
  text-transform: uppercase;
  color: var(--ScoreText);
  letter-spacing: 1px;
  margin-bottom: -4px;
}

.score__number {
  margin-top: -6px;
  color: var(--darkText);
  font-size: 2.5rem;
}
